/* Menu alignment and spacing fix */
[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="comp-iqth25u3"],
[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > wix-interact-element > [id="comp-iqth25u3"] {
  position: relative !important;
  margin: 9px 0px 2px calc((100% - 980px) * 0.5) !important;
  left: 90px !important;
  grid-area: 1 / 1 / 2 / 2 !important;
  justify-self: start !important;
  align-self: start !important;
}

#comp-iqth25u3 {
  width: 797px !important;
  height: 46px !important;
}
